html {
    width: 100%;
    height: auto;
    
    box-sizing: border-box;
    font-size: 10px; 
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#41e5d9, #cdb4db, #e9edc9);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0 0 1.6rem;
    text-align: center;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: #000;
}

main {
    width: 100%; 
    max-width: 40rem;
    background-color: #fff;
    border-radius: 0.8rem;
    padding: 3rem 2.4rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#todo-list-title{
    font-size: 2rem;
    color: #8f49e7;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}


.todo-list-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.todo-list-section ul {
    padding-inline-start: 0;
    height: 20rem;
    overflow: auto;
    width: 100%;
}

.todo-list-section ul li {
    list-style-type: none;
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 0.8rem;
    border-radius: 0.4rem;
}

.todo-list-section ul li:last-child {
    margin-bottom: 0;
}

.todo-list-section ul li button {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #e64c3c;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.todo-list-section ul li button:hover {
    background-color: #da5c3e;
}

.checkbox-label-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-label-container label {
    cursor: pointer;
}

.checkbox-label-container input {
    margin-right: 0.8rem;
    cursor: pointer;
}


#create-todo-title{
    font-size: 2rem;
    color: #8f49e7;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

#create-todo-section {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#create-todo-form {
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.4rem;
}

#descricao {
    height: 3.2rem;
    width: 100%;
    font-size: 1.6rem;
    border-radius: 0.4rem;
    outline: 0;
    border: 1px solid #646464;
    padding-left: 0.8rem;
}

#descricao:focus {
    border: 1px solid #5eb7f6;
}

.add-tarefa-btn {
    width: 3.6rem;
    height: 3.6rem;
    color: #fff;
    background-color: #8f49e7;
    border-radius: 0.4rem;
    font-size: 2.4rem;
    cursor: pointer;
    border: none;
}

.add-tarefa-btn:hover {
    opacity: 0.8;
}

.remove-done-task-btn {
    height: 3.6rem;
    color: #fff;
    background-color: #8f49e7;
    border-radius: 0.4rem;
    cursor: pointer;
    padding: 0 1.6rem;
    border: none;
}

.remove-done-task-btn:hover {
    opacity: 0.8;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 1.6rem;
    align-items: center;
}

@media (min-width: 768px) {
    main {
        max-width: 50rem;
        padding: 2.4rem 1.6rem;
    }

    h1 {
        color: #da5c3e;
    }

    .todo-list-section ul li {
        font-size: 1.5rem;
    }

    .add-tarefa-btn {
        width: 5rem;
        height: 3.5rem;
    }

    #descricao {
        font-size: 1.5rem;
    }
    .remove-done-task-btn {
        font-size: 1.5rem;
        padding: 0 1rem;
    }
}

@media (min-width: 980px) {
    main {
        max-width: 80rem;
        padding: 2.4rem 1.6rem;
    }
    h1 {
        font-size: 3.5rem;
        color: #5eb7f6;
    }

    .remove-done-task-btn {
        font-size: 1.8rem;
        padding: 0 1rem;
    }
}
