html {
    width: 100%;
    height: auto;
    
    box-sizing: border-box;
    font-size: 10px; 
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
}

    h1 {
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 32px;
    font-weight: 600;
    line-height: 37.92px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000; 
}

main {
    width: 100%; 
    height: auto;
    max-width: 42rem;
    background-color: #fff;
    border-radius: 0.8rem;
    padding: 3rem 2.4rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}


.todo-list-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 8px;
}

.todo-list-section ul {
    padding-inline-start: 0;
    height: 20rem;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 8px;
}

.todo-list-section ul li {
    width: 80%;
    height: 120px;
    padding: 24px 32px 24px 32px;
    margin-top: 5px;
    border-radius: 16px;
    border: 1px solid #EEEEEE;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.todo-list-section ul li:last-child {
    margin-bottom: 0;
}



.complete-task-btn {
    background: #2D70FD;
    width: 121px;
    height:44px;
    padding: 12px 24px 12px 24px;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #2D70FD;
    color: #fff;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    align-self: center;
}




#create-todo-section {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#create-todo-form {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}
input{
    width: Fill (311px)px;
    height: Fixed (50px)px;
    padding: 16px 24px 16px 24px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #EEEEEE
}

input:focus {
    border: 1px solid #5eb7f6;
}



.container-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add-tarefa-btn {
    width: 100%;
    height: 4rem;
    color: #fff;
    background-color: #2D70FD;
    border-radius: 4px;
    font-size: 2.4rem;
    cursor: pointer;
    border: none;
}

.add-tarefa-btn:hover {
    opacity: 0.8;
}


.task-details{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.task-text{
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 17.6px;
    letter-spacing: 0.01em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.todo-item.completed .task-text {
    text-decoration: line-through;
    color: #bbbbbb;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 17.6px;
    letter-spacing: 0.01em;
    text-decoration-line: line-through;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.todo-item.completed .task-completed-icon {
    font-size: 1.6rem;
    color: #fff;
    align-self: center;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background: #00D8A7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-label {
    width: 67px;
    height: 21px;
    border-radius: 16px;
    border: 1px 0px 0px 0px;
    background: #FFFFFF;
    font-size: 1.2rem;
    border: 1px solid #b2bec3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b2bec3;
}

.task-date {
    font-size: 1.2rem;
    color: #b2bec3;
    margin-top: 0.4rem;
}


#todo-footer {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.6rem;
    align-items: flex-end;
    height: 20px;
    font-size: 1.4rem;
    color: #B1BACB;
    border-top:1px solid #EEEEEE;
    margin-top: 10px;
    padding: 20px;
}

@media (min-width: 768px) {
    main {
        max-width: 50rem;
        padding: 2.4rem 1.6rem;
    }
    #create-todo-section{
        align-items: center;
    }
    #create-todo-form{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }
    .container-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
    }
    .todo-list-section ul li {
        font-size: 1.5rem;
    }

    .add-tarefa-btn {
        width: 10rem;
        height: 3.5rem;
    }

    #nome-tarefa {
        font-size: 1.5rem;
    }
    .remove-done-task-btn {
        font-size: 1.5rem;
        padding: 0 1rem;
    }
}

@media (min-width: 980px) {
    main {
        max-width: 80rem;
        padding: 2.4rem 1.6rem;
    }
    h1 {
        font-size: 3.5rem;
        color: #5eb7f6;
    }

    .remove-done-task-btn {
        font-size: 1.8rem;
        padding: 0 1rem;
    }
}
